@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

body::before{
    display: block;
    content: '';
    height: 65px;
}

.custom-card {
    height: 200px; /* Set your desired height */
  }

.card{
    max-width: 300px;
    margin-top: 15px;
}